<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8">
    <title>
        Quick JS
    </title>
    <link rel="stylesheet" href="/resources/style/main.css" />
</head>

<body >
    <header>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Quick JS Angular</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/users/login">Login</a></li>
                    <li><a href="/users/signup">Signup</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="home">
    <h1>Users list</h1>
    <ul class="list-group">
        <% for(var i=0; i<users.length; i++) {%>
            <li class="list-group-item">
                <span>Username: </span><%= users[i].username %>
                <br/>
                <span>Password: </span><%= users[i].passowrd %>
                <a class="btn btn-default" href="/users/delete/<%=users[i]._id%>">Delete</a>
            </li>
        <% } %>
    </ul>
    </section>
    <script src="/resources/js/main.js"></script>
</body>

</html>
