body {
    div {
        a {
            background-color: red;
        }
    }
}



.someClass {
    p {
        a {
            background-color: red;
            font-size:16px;
            text-align:left;
        }
    }
}